<h1>{{title}}</h1>
<ul>
    <p *ngIf="todos.length == 0"><small>Não tem nenhuma tarefa hoje.</small></p>
    <li *ngFor="let todo of todos">
        {{todo.id}}.{{todo.title}} |
        <button (click)="markAsDone(todo)" *ngIf="!todo.done">CONCLUIR</button> |
        <button (click)="markAsUndone(todo)" *ngIf="todo.done">REFAZER</button> |
        <button (click)="remover(todo)">REMOVER</button>
    </li>
</ul>

<form [formGroup]="form">
    <fieldset>
        <label>Tarefa: </label>
        <input type="text" placeholder="Insira sua Tarefa" maxlength="60" formControlName="title">
        <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Este campo deve conter enre 3 e 60
            caracteres</small>
        <button (click)="add()" [disabled]="form.invalid">Salvar</button>
    </fieldset>
</form>

<!-- 
() = html -> ts
[] = ts -> html
[()] = ts <> html
-->